.form {
  height: 500px;
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
}

select[type="text"],
select[type="text"]:focus,
input[type="text"],
input[type="text"]:focus,
input[type="email"],
input[type="email"]:focus,
textarea[type="text"],
textarea[type="text"]:focus {
  background: transparent;
  color: #fff;
  font-size: 20px;
  outline: none;
}
select option {
  margin: 40px;
  background-color: rgb(22, 5, 72);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

textarea {
  height: 100px;
}
label {
  margin: 2px;
}

.results-wrapper {
  display: flex;
  flex-direction: column;
}

.results {
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.title {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: space-between;
}
.icons{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  cursor: pointer;
}
.fa-pencil{
  color: green;
}
.fa-trash{
  color:red;
}
